.root {
    --primary-color: #2E7D32;
    --secondary-color: #81D4FA;
    --thertiary-color: #FAF3E0;
    --fourth-color: #AAB7B8;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1.5rem 5rem;
}

.container {
    position: relative;
    background-color: #2E7D32;
    width: 100%;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
}

.link {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    font-weight: 600;
    color: #FAF3E0;
    text-transform: uppercase;
}

.link:hover {
    background-color: #FAF3E0;
    color: #2E7D32;
    border-radius: 4px;
}

.link:active {
    background-color: #03440C;
}

.nave-list li {
    display: inline-block;
}

.dropdown {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #FAF3E0;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu li {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    font-weight: 600;
    color: #03440C;
    text-transform: uppercase;
    width: 100%;
}

.submenu li a {
    text-decoration: none;
    /* color: #333; */
}

.submenu li:hover {
    background-color: #c0fcc3;
    color: #03440C;
    /* background-color: #81D4FA; */
}